# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pytest


     - name: Eco CI Activity Checker
  # You may pin to the exact commit or the version.
  # uses: green-coding-solutions/eco-ci-activity-checker@3ddd5fcef7737a9db1c4779b749a948c45d1b295
  uses: green-coding-solutions/eco-ci-activity-checker@v1.1
  with:
    # format: {repo-owner}/{repo-name}
    repo: # optional, default is ${{ github.repository }}
    # the branch to check
    branch: # optional, default is ${{ github.ref_name }}
    # personal access token with repo scope, if using with a private repository
    personal-access-token: # optional, default is ${{ github.token }}
    # the id of the workflow to check
    workflow-id: # optional
          
